/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #48b0b0;
$gray                       : #7a8288;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #4db6ac;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

h2.archive__item-title, 
.archive__item-title {
  text-decoration: none !important;
  border-bottom: none !important; /* Removes fake border underlines */
}

h2.archive__item-title a:hover, 
.archive__item-title a:hover {
  text-decoration: none !important;
  border-bottom: none !important; /* Removes fake border underlines */
}

.archive__item-buttons a:hover,
.btn:hover,
a.btn:hover {
  text-decoration: none !important; 
  border-bottom: none !important;

  transition: color 0.3s ease-in-out !important; 
  
  background-color: #fdd835 !important; 
  border-color: #fdd835 !important;
  
  color: #fff !important; 
}

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fff; /* Pure White Background */
    
    --global-footer-bg-color            : #fff; 
    
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #bdc1c4;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #{$primary-color}; 
    
    --global-link-color-hover           : #fbc02d; 
    --global-link-color-visited         : mix(#fff, #{$primary-color}, 20%);  
    
    --global-masthead-link-color        : #000;
    --global-masthead-link-color-hover  : #000;    

    --global-text-color                 : #000; /* Pure black text */
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}

