{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <h2 class="archive__item-title" itemprop="headline" style="color: #4db6ac; margin-bottom: 5px;">
      {{ title }}
    </h2>
    
    <p class="archive__item-excerpt" itemprop="description" style="margin-top: 0; font-size: 0.9em; color: #000;">
      {% if post.citation %}
        {{ post.citation }}
      {% endif %}

      {% if post.venue %}
        <br>
        <i>
          {% if post.venueurl %}
            <a href="{{ post.venueurl }}" style="color: #4db6ac; text-decoration: none;">{{ post.venue }}</a>
          {% else %}
            <span style="color: #4db6ac;">{{ post.venue }}</span>
          {% endif %}
          {% if post.date %}
             ({{ post.date | default: "1900-01-01" | date: "%Y" }})
          {% endif %}
        </i>
      {% endif %}
    </p>

    <div class="archive__item-buttons">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="btn btn--info" style="color: #fff; background-color: #4db6ac; border-color: #4db6ac;">Paper</a>
      {% endif %}
      
      {% if post.arxivurl %}
        <a href="{{ post.arxivurl }}" class="btn btn--info" style="color: #fff; background-color: #4db6ac; border-color: #4db6ac;">arXiv</a>
      {% endif %}
      
      {% if post.codeurl %}
        <a href="{{ post.codeurl }}" class="btn btn--info" style="color: #fff; background-color: #4db6ac; border-color: #4db6ac;">Code</a>
      {% endif %}
    </div>

  </article>
</div>
